* {
    padding:0;
    margin:0;
    text-decoration: 0;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
}
nav {
    background: white;
    height: 85px;
    width: 100%;
}
label.logo{
color: #ffa621;
font-size: 35px;
line-height: 85px;
padding: 0 50px;
font-weight: 700;
}
nav ul{
    float: right;
    margin-right: 28px;
}
nav ul li{
    display: inline-block;
    line-height: 85px;
    margin: 0 5px;
}
nav ul li a{
    color: #1a1a1a;
    font-size: 18px;
    padding: 8px 14px;
    border-radius: 4px;
    font-weight: 500;
    text-transform: uppercase;
}
a.active, a:hover{
    background: #ffa621;
    color:white;
    transition: 0.25s;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 85px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 1090px){
    label.logo {
        line-height: 85px;
        padding-right: 20px;
    }
    nav ul li a{
        font-size: 16px;
        padding: 8px 10px;
    }
}
@media (max-width: 1000px){
    label.logo {
        line-height: 85px;
        padding-right: 20px;
    }
    nav ul li a{
        font-size: 15px;
        padding: 8px 8px;
    }
}
@media (max-width: 960px){
    label.logo {
        line-height: 85px;
        padding-right: 20px;
    }
    nav ul li a{
        font-size: 14px;
        padding: 8px 6px;
    }
}
@media (max-width: 890px){
    .checkbtn{
        display: block;
        margin: 0 15px;
        line-height: 85px;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .25s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a.active, a:hover{
        background: none;
        color: #ffa621;
    }
    #check:checked ~ ul{
        left: 0;
    }
}